<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h3>Edit your Listings</h3>
    <form method="post" action="/listings/<%= listing._id %>?_method=PUT">
        <b>Title :</b> <input value="<%= listing.title %>" name="listing[title]"> <br><br>
        <textarea name="listing[description]"><%= listing.description %></textarea> <br><br>
        <b>Image :</b><input value="<%= listing.image %>" name="listing[image]" type="text">  <br><br>
        <b>Price :</b><input value="<%= listing.price %>" name="listing[price]" type="number"> <br><br>
        <b>Location :</b><input value="<%= listing.location %>" name="listing[location]"> <br><br>
        <b>Country :</b><input value="<%= listing.country %>" name="listing[country]"> <br><br>
        <button type="submit">Edit Listing</button>
    </form>
</body>
</html>