<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"/>
    <title>Chit Chat</title>
</head>
<body>
    <h3 class="allChats">All Chats!</h3>
    <form method="get" action="/chats/new" class="NewChatButton">
        <button>New Chat</button>
    </form>
    <br>
    <% for (let chat of chats) { %>
    <div class="chat">
        <p><b>From :</b> <%= chat.from %></p>
        <div class="message">
            <p><%= chat.message %></p>
            <form method="get" action="/chats/<%= chat._id %>/edit">
                <button>Edit</button>
            </form> 
            <br>
            <form method="post" action="/chats/<%= chat._id %>?_method=DELETE">
                <button>Delete</button>
            </form>
        </div>
        <p><b>Recived By :</b> <%= chat.to %></p>
        <hr>
        <p> <%= chat.created_at.toString().split(" ")[4] %> </p>
        <p> <%= chat.created_at.toString().split(" ").slice(0,4).join("-") %> </p>
    </div>
<% } %>
</body>
</html>